@model ShortUrl.Models.Link

@{
    ViewBag.Title = "Редактирование";
}


@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Count)
        @Html.HiddenFor(m => m.CreatedData)
        <br />
        <p>

            <h5>
                @Html.LabelFor(m => m.LongURL, "Ссылка")
            </h5>
            <h6>
                @Html.ValidationMessageFor(x => x.LongURL, "", new { @class = "text-danger" })
            </h6>
            @Html.TextBoxFor(m => m.LongURL, new { @class = "form-control" })
        </p>

        <p>
            <h5>
                @Html.LabelFor(m => m.ShortUrl, "Короткая ссылка")
            </h5>
            @{
                try
                {
                    if (Model.ShortUrl != ViewBag.currentSU)
                    {

                        <h6 id="editError" class="text-danger">
                            Такая ссылка уже используется
                        </h6>
                    }
                }
                catch
                {

                }
            }
            @Html.TextBoxFor(m => m.ShortUrl, new { @class = "form-control" })
        </p>
        <div class="mt-4">
            <input type="submit" value="Отправить" onclick="showhide()" class="btn btn-default bg-warning" />
        </div>        
    </div>            
    
}