@model IEnumerable<ShortUrl.Models.Link>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <table class="text-info tableWr" >
            <tr>
                <td class="wr" align="left">
                    <h5>Ссылка</h5>
                </td>
                <td class="td1">
                    <h5>Сокращённая ссылка</h5>
                </td>
                <td class="td2">
                    <h5>Дата создания</h5>
                </td>
                <td class="td3">
                    <h5>Кол-во переходов</h5>
                </td>
                <td class="td4">
                </td>
                <td class="td5">
                </td>
                <br />
            </tr>
        </table>

        <form method="post">

            @foreach (ShortUrl.Models.Link link in Model)
            {
            <table class="tableWr">
                <tr>
                    <td class="wr" align="left">
                        @link.LongURL
                    </td>
                    <td class="td1">
                        @*<a href="https://myurl-short.xyz/?id=@link.ShortUrl">https://myurl-short.xyz/?id=@link.ShortUrl</a>*@
                        <a href="@ViewBag.url@link.ShortUrl">@ViewBag.url@link.ShortUrl</a>
                    </td>
                    <td class="td2">
                        @link.CreatedData
                    </td>
                    <td class="td3">
                        @link.Count
                    </td>
                    <td class="td4">
                        <a class="delete" href='@Url.Action("Delete", "Home", new {id = link.Id })'> Удалить </a>
                    </td>
                    <td class="td5">
                        <a class="edit" href='@Url.Action("Edit", "Home", new {id = link.Id })'> Редактировать </a>
                    </td>
                    <br />
                </tr>
            </table>
            }
        </form>
    </p>
</div>
